.keyboard__popup {
    width: 400px !important;
    padding: 40px;
}
.keyboard__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    font-size: 14px;
    border-bottom: 1px solid var(--line-color);
    &:first-child {
        border-top: 1px solid var(--line-color);
    }
}
.key {
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid black;
    width: 24px;
    height: 24px;
    padding: 0px;
}

.icon__box {
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}
