.wrapper {
    width: 376px;
}
.title {
    display: flex;
    justify-content: space-between;
}
.link {
    font-size: 14px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.input__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.input__box {
    position: relative;
    border-radius: 4px;
    margin-top: 8px;
    border: 1.5px solid var(--color-input);
    background: var(--color-input);
    display: flex;
    &:hover {
        border: 1.5px solid var(--color-input-hover);
        background: var(--color-input-hover);
    }
    &:focus-within {
        border: 1.5px solid var(--color-input-hover);
    }
}

.input__item {
    padding: 14px;
    width: 100%;
    height: 100%;
    background: transparent;
    &::placeholder {
        font-size: 15px;
        font-weight: 400;
        color: var(--text-color-thin);
        opacity: 0.4;
    }
}
.input__select {
    width: 30%;
}

//Input Code
.btn__send {
    border: none;
    border-radius: 0px;
    background-color: #fff;
    opacity: 0.75 !important;
    width: 80%;
    font-size: 16px;
    color: rgba(22, 24, 35, 0.34);
    font-weight: 700;
    &:hover {
        background-color: #fff;
    }
}
//Input PassWord
.icon-eye {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    font-size: 14px;
    color: var(--text-color-thin);
    opacity: 0.6;
}
//Optional
.optional {
    padding-top: 8px;
    padding-right: 12px;
    font-size: 12px;
    position: relative;
}
.optional + .optional {
    padding-left: 12px;
    &::after {
        content: '';
        height: 12px;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        transform: translate(0, 50%);
    }
}
//Button SUbmit
.button__submit {
    margin-top: 8px;
    border: none;
    color: rgba(22, 24, 35, 0.34);
    font-weight: 700;
    font-size: 16px;
    opacity: 1 !important;
    width: 100%;
    background-color: var(--color-input) !important;
}

.valid__new-pass {
    margin-top: 8px;
    & h5 {
        font-weight: 600;
        color: #161823;
        font-size: 12px;
    }
    & p {
        color: rgba(22, 24, 35, 0.5);

        font-weight: 400;
        font-size: 12px;
    }
    & span {
        margin: 5px 4px;
    }
}

//SIGN UP
.signup {
    .title {
        margin-top: 16px;
    }
}

.signup__select {
    width: 33%;
    & .input__item {
        border: transparent;
    }
}

.checked__area {
    display: flex;
    gap: 10px;
    margin-top: 8px;

    & .input__check {
        width: 5%;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        & input {
            cursor: pointer;
            opacity: 0;
            width: 24px;
            height: 24px;
        }
        & .custom__checked {
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 24px;
            border-radius: 2px;
            border: 1.5px solid rgba(22, 24, 35, 0.12);
            color: white;
            pointer-events: none;
        }
        .custom__checked.checked {
            background-color: var(--primary);
        }
    }
    & span {
        flex: 1;
    }
}

//Common
.text__small {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    font-size: 12px;
}
