.header {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: var(--header-height);
    .inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
}
.logo {
    display: flex;
    align-items: center;
}
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    position: relative;
    overflow: hidden;
    height: 100%;
    border: 1px solid transparent;
    &:focus-within {
        border: 1px solid rgba(22, 24, 35, 0.35);
    }
    .search__input {
        padding: 12px 16px;
        background-color: rgba(22, 24, 35, 0);
        width: var(--header-search-width-input);
        outline: none;
        height: 100%;
        border: none;
        caret-color: var(--primary);
    }

    .search__btn {
        flex: 1;
        height: 100%;
        transition: all 0.2s;
        position: relative;
        color: rgba(22, 24, 35, 0.34);
        font-size: 16px;
        &:hover {
            background-color: rgba(22, 24, 35, 0.04);
        }
        &::before {
            content: '';
            width: 1px;
            background: rgba(22, 24, 35, 0.12);
            height: 28px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .search__input:not(:placeholder-shown) ~ .search__btn {
        color: rgba(22, 24, 35, 0.75);
    }
    .search__action {
        position: absolute;
        left: calc(var(--header-search-width-input) - 8%);
        pointer-events: none;
    }
}

.action {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.tippy-box,
.search {
    width: 360px;
}
.account__container {
    padding: 8px 0;
}
.account__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
}

.menu__tippyBox {
    width: fit-content;
    & .action__menu-wrapper {
        height: auto;
        min-height: auto;
    }
}
.icon-ellipsis {
    font-size: 20px;
}
.icon-button {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
