.tippy-box {
    width: 320px;
}

.wrapper {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
//Content Wrapper
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    & .avatar {
        object-fit: cover;
        object-position: center;
        height: 32px;
        width: 32px;
        border-radius: 50%;
    }
}
.user__information {
    color: rgb(22, 24, 35);
    font-family: 'SofiaPro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    & .nickname {
        color: var(--text-color-primary);
        font-weight: 700;
    }
    .full__name {
        font-family: 'ProximaNova', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    & .icon-check {
        margin-left: 5px;
        color: var(--tick-color);
    }
}
.user__stat {
    & .stat__num {
        font-weight: 700;
        margin-right: 6px;
        font-size: 17px;
        line-height: 20px;
    }
    & .stat__text {
        font-family: 'ProximaNova', sans-serif;
        color: rgba(22, 24, 35, 0.75);
        font-size: 17px;
        line-height: 20px;
        font-weight: 400;
        margin-right: 12px;
    }
}
.bio {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid var(--line-color);
    font-size: 14px;
    color: rgba(22, 24, 35, 0.75);
}
