@import 'normalize.css';

:root {
    //var app
    --primary: #fe2c55;
    --black: #000;
    --black-1: rgba(22, 24, 35, 0.75);
    --white: #fff;
    --gray-shadow: rgba(22, 24, 35, 0.06);
    --gray-solid: rgba(22, 24, 35, 0.1);
    --color-input: rgba(22, 24, 35, 0.06);
    --color-input-hover: rgba(22, 24, 35, 0.1);

    //var header
    --header-height: 6rem;
    --header-search-width-input: 85%;
    //button
    --button-primary-bg-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    --button-outline-bg-hover: rgba(254, 44, 85, 0.06);
    --button-shadow-bg-hover: rgba(22, 24, 35, 0.03);
    //icon-color
    --tick-color: rgb(32, 213, 236);
    //text-color
    --text-color-primary: rgb(22, 24, 35);
    --text-color-thin: rgba(22, 24, 35, 0.75);
    //line
    --line-color: rgba(22, 24, 35, 0.12);
}

//FONTS
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 600;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
//END FONTS

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'ProximaNova', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.clear-btn {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inline-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.link {
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    &:hover {
        text-decoration: none;
    }
}

.h-max {
    height: 100%;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text__default {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: ProximaNova;
}
.f600 {
    font-weight: 600;
}
.f700 {
    font-weight: 700;
}

.reset-input {
    outline: none;
    border: none;
    caret-color: var(--primary);
}
