.wrapper {
    display: flex;
    flex-direction: column;
}
.defaultLayout {
    display: flex;
    flex-direction: row;
    justify-content: start;

    .sidebar {
        padding: 10px 0 0 6px;
        min-width: 365px;
        overflow-y: auto;
    }
    .content {
        flex: 1;
    }
}
